#backgroundImage {
  position: fixed; /* Fixar o contêiner para cobrir toda a tela */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  z-index: -1;

}

.laranja{
    background-color: orange;
    transition: all 0.25s ease-in-out;
}

.azul{
    background-color: blue;
    transition: all 0.25s ease-in-out;
}

.verde{
    background-color: green;
    transition: all 0.25s ease-in-out;
}
.branco{
    background-color: white;
    transition: all 0.25s ease-in-out;
}

h2{
    font-size: 14px;
    text-align: center;
}

     /*//////////////////////////////////////////// */

     .barrinha::before,
        .pontos::before {
            display: inline-block;
            font-size: 1.5em; /* Ajuste conforme necessário */
            margin-right: 5px; /* Espaçamento à direita */
        }

        .barrinha {
            position: fixed;    
            top: 20px;
            right: 20px;   
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 50px;
            height: 50px; 
            cursor: pointer;
         
            font-size: 35px;
            text-align: center;
            border-top-style: solid;
            border-bottom-style: solid;
            border-bottom-width: 10px;
        }

        .menuOpcoes {
            position: fixed;
            top: 80px; /* Ajuste conforme necessário */
            right: 20px;
            border: 1px solid #222121;
            border-radius: 5px;
            display: none;
            padding: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        .menuOpcoes a {
            display: block;
            padding: 8px;
            text-decoration: none;
            color: #333;
            cursor: pointer;
        }

        

        .divOculta {
            display: none;
            width: 200px;
            height: 150px;
            padding: 10px;
            position: absolute;

            
          
           
        }
        center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .cont-btn, .img-div{
            text-align: center;
        }
        /*////////////////////////////////////////*/

.btn-div{
    background-color: #ccc;
    width: 300px;
    height: 60px;

}

.img-div{
    background-color: #ccc;
    width: 300px;
    height: 80px;
}