

body{
    font-size: 17px;
    overflow: hidden;
}
#h1_texto {
    background-color: rgba(255, 255, 255, 0.6); /* Cor branca meio transparente */
    border: 1px solid #ddd; /* Borda cinza claro */
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    margin-left: auto; /* Centralizar à esquerda */
    margin-right: auto; /* Centralizar à direita */
    max-width: 600px; /* Largura máxima desejada */
    padding-right: 150px;
    padding-left: 150px;
  }
  .texto-exibido-estilizado {
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo branca transparente */
    border: 2px solid #808080; /* Borda cinza */
    border-radius: 15px; /* Borda-radius de 15px */
    padding: 10px; /* Adicione um preenchimento se desejar */
    margin: 10px 0; /* Adicione margem superior e inferior se desejar */
}
.texto-exibido-estilizadoerro {
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo branca transparente */
    border: 2px solid #f70909; /* Borda cinza */
    border-radius: 15px; /* Borda-radius de 15px */
    padding: 10px; /* Adicione um preenchimento se desejar */
    margin: 10px 0; /* Adicione margem superior e inferior se desejar */
}


.box-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    position: relative;
}
img{
    width: 10%;
    display: inline-block; /*deixa as imagens em linha horizontal*/
    margin: 0 10px;   
    max-width: 100%;
}
.face-ruim{
    width: 11.9%;
    
}
.face-neutro{
    padding-left: 50px;
    padding-right: 50px;
}
.box-resultado{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 0;
    margin-top: 50px;
}
.face-neutro,
.face-ruim,
.face-feliz {
    transition: transform 0.3s ease; /* Adiciona uma transição suave */
}

.face-neutro:hover,
.face-ruim:hover,
.face-feliz:hover{
    transform: translateY(-10px); /* Move a imagem para cima ao passar o mouse sobre ela */
}

.content{
    
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.content--add-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
